In [1]:
import requests
import pandas as pd

In [2]:
csv = pd.read_csv('delitos_2020.csv')

In [3]:
csv.head()

,id_mapa,anio,mes,dia,fecha,franja,tipo,subtipo,uso_armas,barrio,comuna,latitud,longitud,victimas
0,RH-2020-0000480,2020,Enero,Miércoles,01/01/20,10,Hurto (sin violencia),NaN,NaN,Versalles,10.0,-34.626641,-58.527606,NaN
1,HD-2020-0001119,2020,Enero,Miércoles,01/01/20,22,Homicidio,Femicidio,NaN,Villa Devoto,11.0,-34.611268,-58.525386,1.0
2,RH-2020-0001140,2020,Enero,Miércoles,01/01/20,19,Robo (con violencia),NaN,NaN,Versalles,10.0,-34.625434,-58.525013,NaN
3,RH-2020-0001187,2020,Enero,Miércoles,01/01/20,17,Robo (con violencia),NaN,NaN,Versalles,10.0,-34.625434,-58.525013,NaN
4,RH-2020-0010817,2020,Enero,Miércoles,01/01/20,2,Hurto (sin violencia),NaN,NaN,Villa Devoto,11.0,-34.606789,-58.520726,NaN

In [4]:
# TIPOS
csv['tipo'].unique()

array(['Hurto (sin violencia)', 'Homicidio', 'Robo (con violencia)',
       'Lesiones'], dtype=object)

In [34]:
# TABLA TIEMPOS
tiempos_csv = csv[['anio', 'mes', 'dia', 'fecha', 'franja']]
tiempos_csv['nro_dia'] = tiempos_csv['fecha'].apply(lambda x: int(x.split('/')[0]))
tiempos_csv = tiempos_csv.drop_duplicates()
tiempos_csv['id'] = tiempos_csv.index + 1
tiempos_csv

/var/folders/zk/0yzb9y8s6z71smfld5fjvdjh0000gn/T/ipykernel_86634/1244753612.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tiempos_csv['nro_dia'] = tiempos_csv['fecha'].apply(lambda x: int(x.split('/')[0]))

       anio        mes        dia     fecha franja  nro_dia     id
0      2020      Enero  Miércoles  01/01/20     10        1      1
1      2020      Enero  Miércoles  01/01/20     22        1      2
2      2020      Enero  Miércoles  01/01/20     19        1      3
3      2020      Enero  Miércoles  01/01/20     17        1      4
4      2020      Enero  Miércoles  01/01/20      2        1      5
...     ...        ...        ...       ...    ...      ...    ...
66634  2020  Diciembre     Jueves  31/12/20     20       31  66635
66635  2020  Diciembre     Jueves  31/12/20      5       31  66636
66645  2020  Diciembre     Jueves  31/12/20     12       31  66646
66678  2020  Diciembre     Jueves  31/12/20      6       31  66679
66693  2020  Diciembre     Jueves  31/12/20      2       31  66694

[8638 rows x 7 columns]

In [31]:
# TABLA LUGARES
lugares_csv = csv[['barrio', 'comuna']]
# drop dups
lugares_csv = lugares_csv.drop_duplicates()
# add id column
lugares_csv['id'] = lugares_csv.index + 1
lugares_csv

                  barrio  comuna     id
0              Versalles    10.0      1
1           Villa Devoto    11.0      2
5              Mataderos     9.0      6
6             Villa Luro    10.0      7
7           Monte Castro    10.0      8
15         Villa Urquiza    12.0     16
18       Vélez Sársfield    10.0     19
21              Saavedra    12.0     22
23             Agronomía    15.0     24
24          Villa Lugano     8.0     25
25      Villa Del Parque    11.0     26
27     Parque Avellaneda     9.0     28
29              Floresta    10.0     30
43      Villa Santa Rita    11.0     44
50              Paternal    15.0     51
51                 Nuñez    13.0     52
53     Villa Gral. Mitre    11.0     54
57               Coghlan    12.0     58
62                Flores     7.0     63
74             Chacarita    15.0     75
75              Belgrano    13.0     76
81         Villa Soldati     8.0     82
82             Caballito     6.0     83
89      Parque Chacabuco     7.0     90
94          Villa Crespo    15.0     95
96               Palermo    14.0     97
99            Colegiales    13.0    100
117              Almagro     5.0    118
118        Nueva Pompeya     4.0    119
124                Boedo     5.0    125
145            Balvanera     3.0    146
146             Recoleta     2.0    147
153     Parque Patricios     4.0    154
168        San Cristóbal     3.0    169
172             Barracas     4.0    173
186          San Nicolás     1.0    187
193         Constitución     1.0    194
196               Retiro     1.0    197
204            Monserrat     1.0    205
212            San Telmo     1.0    213
216        Puerto Madero     1.0    217
223                 Boca     4.0    224
231              Liniers     9.0    232
250     Villa Pueyrredón    12.0    251
294      Villa Riachuelo     8.0    295
297          Parque Chas    15.0    298
301        Villa Ortuzar    15.0    302
557                  NaN     NaN    558
1199          Villa Real    10.0   1200
25763            La Boca     4.0  25764

In [33]:
# TABLA TIPO DE ARMA
armas_csv = csv[['uso_armas']]
armas_csv = armas_csv.drop_duplicates(ignore_index=True)
armas_csv['id'] = armas_csv.index + 1
armas_csv

       uso_armas  id
0            NaN   1
1  Arma cortante   2
2  Arma de fuego   3

In [47]:
# TABLA DELITOS
delitos_csv = csv[['victimas', 'barrio', 'uso_armas', 'anio', 'mes', 'dia', 'franja']]

# replace barrio for lugar_id
delitos_csv = delitos_csv.merge(lugares_csv, left_on='barrio', right_on='barrio')
delitos_csv = delitos_csv.rename(columns={'id': 'lugar_id'})
delitos_csv = delitos_csv.drop(columns=['barrio', 'comuna'])

# replace uso_armas for arma_id
delitos_csv = delitos_csv.merge(armas_csv, left_on='uso_armas', right_on='uso_armas')
delitos_csv = delitos_csv.rename(columns={'id': 'arma_id'})
delitos_csv = delitos_csv.drop(columns=['uso_armas'])

# replace fecha, franja for tiempo_id
delitos_csv = delitos_csv.merge(tiempos_csv, left_on=['anio', 'mes', 'dia', 'franja'], right_on=['anio', 'mes', 'dia', 'franja'])
delitos_csv = delitos_csv.rename(columns={'id': 'tiempo_id'})
delitos_csv = delitos_csv.drop(columns=['anio', 'mes', 'dia', 'franja', 'nro_dia', 'fecha'])
delitos_csv

        victimas  lugar_id  arma_id  tiempo_id
0            NaN         1        1          1
1            NaN         1        1       2138
2            NaN         1        1       4396
3            NaN         1        1       6566
4            NaN         1        1       8861
...          ...       ...      ...        ...
290055       NaN        90        3      26901
290056       NaN       205        2      25612
290057       NaN       205        2      26901
290058       NaN       173        3      26857
290059       NaN        90        2       4231

[290060 rows x 4 columns]