In [61]:
import pandas as pd
from datetime import datetime

In [62]:
year = '2018'
csv = pd.read_csv(f'input/delitos_{year}.csv')

In [63]:
# add column mes with month name
csv['mes'] = csv['fecha'].apply(lambda x: x[3:5])
csv['mes'] = csv['mes'].apply(lambda x: 'Enero' if x == '01' else x)
csv['mes'] = csv['mes'].apply(lambda x: 'Febrero' if x == '02' else x)
csv['mes'] = csv['mes'].apply(lambda x: 'Marzo' if x == '03' else x)
csv['mes'] = csv['mes'].apply(lambda x: 'Abril' if x == '04' else x)
csv['mes'] = csv['mes'].apply(lambda x: 'Mayo' if x == '05' else x)
csv['mes'] = csv['mes'].apply(lambda x: 'Junio' if x == '06' else x)
csv['mes'] = csv['mes'].apply(lambda x: 'Julio' if x == '07' else x)
csv['mes'] = csv['mes'].apply(lambda x: 'Agosto' if x == '08' else x)
csv['mes'] = csv['mes'].apply(lambda x: 'Septiembre' if x == '09' else x)
csv['mes'] = csv['mes'].apply(lambda x: 'Octubre' if x == '10' else x)
csv['mes'] = csv['mes'].apply(lambda x: 'Noviembre' if x == '11' else x)
csv['mes'] = csv['mes'].apply(lambda x: 'Diciembre' if x == '12' else x)

In [64]:
# get day name from date number with datetime
csv['dia'] = csv['fecha'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d').strftime('%A'))
# traduce los dias de la semana a español
csv['dia'] = csv['dia'].apply(lambda x: 'Lunes' if x == 'Monday' else x)
csv['dia'] = csv['dia'].apply(lambda x: 'Martes' if x == 'Tuesday' else x)
csv['dia'] = csv['dia'].apply(lambda x: 'Miercoles' if x == 'Wednesday' else x)
csv['dia'] = csv['dia'].apply(lambda x: 'Jueves' if x == 'Thursday' else x)
csv['dia'] = csv['dia'].apply(lambda x: 'Viernes' if x == 'Friday' else x)
csv['dia'] = csv['dia'].apply(lambda x: 'Sabado' if x == 'Saturday' else x)
csv['dia'] = csv['dia'].apply(lambda x: 'Domingo' if x == 'Sunday' else x)

In [65]:
# change date format from YYYY-MM-DD to DD/MM/YYYY
csv['fecha'] = csv['fecha'].apply(lambda x: x[8:10] + '/' + x[5:7] + '/' + x[0:4])
csv

,id,fecha,franja,tipo,subtipo,cantidad_registrada,comuna,barrio,latitud,longitud,mes,dia
0,269335,01/01/2018,23,Hurto (sin violencia),NaN,1.0,10.0,Vélez Sársfield,-34.624523,-58.502294,8-,Lunes
1,248498,01/01/2018,20,Hurto (sin violencia),Hurto Automotor,1.0,8.0,Villa Lugano,-34.669643,-58.464153,8-,Lunes
2,248172,01/01/2018,14,Hurto (sin violencia),Hurto Automotor,1.0,8.0,Villa Lugano,-34.680992,-58.465303,8-,Lunes
3,301417,01/01/2018,11,Robo (con violencia),NaN,1.0,13.0,Belgrano,-34.571114,-58.464845,8-,Lunes
4,272732,01/01/2018,22,Hurto (sin violencia),NaN,1.0,4.0,Barracas,-34.646857,-58.380158,8-,Lunes
...,...,...,...,...,...,...,...,...,...,...,...,...
123728,367221,31/12/2018,16,Robo (con violencia),NaN,1.0,8.0,Villa Lugano,-34.673199,-58.492690,8-,Lunes
123729,367220,31/12/2018,16,Robo (con violencia),NaN,1.0,7.0,Parque Chacabuco,-34.635321,-58.427876,8-,Lunes
123730,367224,31/12/2018,16,Robo (con violencia),NaN,1.0,11.0,Villa Gral. Mitre,-34.613216,-58.469575,8-,Lunes
123731,367223,31/12/2018,2,Robo (con violencia),NaN,1.0,4.0,Parque Patricios,-34.638746,-58.401177,8-,Lunes
123732,360640,31/12/2018,12,Robo (con violencia),NaN,1.0,12.0,Villa Urquiza,-34.571441,-58.490185,8-,Lunes

In [66]:
# save to csv
csv.to_csv(f'input/delitos_{year}.csv', index=False)