In [8]:
import pandas as pd
from datetime import datetime

In [9]:
year = '2019'
csv = pd.read_csv(f'input/delitos_{year}.csv')

/var/folders/zk/0yzb9y8s6z71smfld5fjvdjh0000gn/T/ipykernel_15542/3724983382.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  csv = pd.read_csv(f'input/delitos_{year}.csv')

In [10]:
# add column mes with month name
csv['mes'] = csv['fecha'].apply(lambda x: x[3:5])
csv['mes'] = csv['mes'].apply(lambda x: 'Enero' if x == '01' else x)
csv['mes'] = csv['mes'].apply(lambda x: 'Febrero' if x == '02' else x)
csv['mes'] = csv['mes'].apply(lambda x: 'Marzo' if x == '03' else x)
csv['mes'] = csv['mes'].apply(lambda x: 'Abril' if x == '04' else x)
csv['mes'] = csv['mes'].apply(lambda x: 'Mayo' if x == '05' else x)
csv['mes'] = csv['mes'].apply(lambda x: 'Junio' if x == '06' else x)
csv['mes'] = csv['mes'].apply(lambda x: 'Julio' if x == '07' else x)
csv['mes'] = csv['mes'].apply(lambda x: 'Agosto' if x == '08' else x)
csv['mes'] = csv['mes'].apply(lambda x: 'Septiembre' if x == '09' else x)
csv['mes'] = csv['mes'].apply(lambda x: 'Octubre' if x == '10' else x)
csv['mes'] = csv['mes'].apply(lambda x: 'Noviembre' if x == '11' else x)
csv['mes'] = csv['mes'].apply(lambda x: 'Diciembre' if x == '12' else x)

In [11]:
# get day name from date number with datetime
csv['dia'] = csv['fecha'].apply(lambda x: datetime.strptime(x, '%d-%m-%y').strftime('%A'))
# traduce los dias de la semana a español
csv['dia'] = csv['dia'].apply(lambda x: 'Lunes' if x == 'Monday' else x)
csv['dia'] = csv['dia'].apply(lambda x: 'Martes' if x == 'Tuesday' else x)
csv['dia'] = csv['dia'].apply(lambda x: 'Miercoles' if x == 'Wednesday' else x)
csv['dia'] = csv['dia'].apply(lambda x: 'Jueves' if x == 'Thursday' else x)
csv['dia'] = csv['dia'].apply(lambda x: 'Viernes' if x == 'Friday' else x)
csv['dia'] = csv['dia'].apply(lambda x: 'Sabado' if x == 'Saturday' else x)
csv['dia'] = csv['dia'].apply(lambda x: 'Domingo' if x == 'Sunday' else x)

In [12]:
# change date format from YYYY-MM-DD to DD/MM/YYYY
csv['fecha'] = csv['fecha'].apply(lambda x: x.replace('-', '/'))
csv

,id,fecha,franja,tipo,subtipo,cantidad_registrada,comuna,barrio,latitud,longitud,mes,dia
0,1038983,13/09/19,14,Robo (con violencia),NaN,NaN,6.0,Caballito,-34.609876,-58.456159,Septiembre,Viernes
1,1038986,13/09/19,16,Robo (con violencia),NaN,NaN,3.0,Balvanera,-34.609394,-58.395934,Septiembre,Viernes
2,1038989,13/09/19,13,Robo (con violencia),NaN,NaN,3.0,Balvanera,-34.609231,-58.411177,Septiembre,Viernes
3,1038990,13/09/19,16,Robo (con violencia),NaN,NaN,3.0,Balvanera,-34.609095,-58.405899,Septiembre,Viernes
4,1038991,13/09/19,11,Robo (con violencia),NaN,NaN,1.0,Monserrat,-34.609073,-58.380570,Septiembre,Viernes
...,...,...,...,...,...,...,...,...,...,...,...,...
122479,1038888,13/09/19,21,Robo (con violencia),NaN,NaN,10.0,Vélez Sársfield,-34.631202,-58.500760,Septiembre,Viernes
122480,1038920,13/09/19,20,Robo (con violencia),NaN,NaN,10.0,Vélez Sársfield,-34.624261,-58.495508,Septiembre,Viernes
122481,1038975,13/09/19,18,Robo (con violencia),NaN,NaN,5.0,Almagro,-34.611807,-58.421817,Septiembre,Viernes
122482,1038977,13/09/19,19,Robo (con violencia),NaN,NaN,11.0,Villa Santa Rita,-34.611037,-58.483334,Septiembre,Viernes
122483,1038982,13/09/19,9,Robo (con violencia),NaN,NaN,3.0,Balvanera,-34.610367,-58.408288,Septiembre,Viernes

In [13]:
csv

,id,fecha,franja,tipo,subtipo,cantidad_registrada,comuna,barrio,latitud,longitud,mes,dia
0,1038983,13/09/19,14,Robo (con violencia),NaN,NaN,6.0,Caballito,-34.609876,-58.456159,Septiembre,Viernes
1,1038986,13/09/19,16,Robo (con violencia),NaN,NaN,3.0,Balvanera,-34.609394,-58.395934,Septiembre,Viernes
2,1038989,13/09/19,13,Robo (con violencia),NaN,NaN,3.0,Balvanera,-34.609231,-58.411177,Septiembre,Viernes
3,1038990,13/09/19,16,Robo (con violencia),NaN,NaN,3.0,Balvanera,-34.609095,-58.405899,Septiembre,Viernes
4,1038991,13/09/19,11,Robo (con violencia),NaN,NaN,1.0,Monserrat,-34.609073,-58.380570,Septiembre,Viernes
...,...,...,...,...,...,...,...,...,...,...,...,...
122479,1038888,13/09/19,21,Robo (con violencia),NaN,NaN,10.0,Vélez Sársfield,-34.631202,-58.500760,Septiembre,Viernes
122480,1038920,13/09/19,20,Robo (con violencia),NaN,NaN,10.0,Vélez Sársfield,-34.624261,-58.495508,Septiembre,Viernes
122481,1038975,13/09/19,18,Robo (con violencia),NaN,NaN,5.0,Almagro,-34.611807,-58.421817,Septiembre,Viernes
122482,1038977,13/09/19,19,Robo (con violencia),NaN,NaN,11.0,Villa Santa Rita,-34.611037,-58.483334,Septiembre,Viernes
122483,1038982,13/09/19,9,Robo (con violencia),NaN,NaN,3.0,Balvanera,-34.610367,-58.408288,Septiembre,Viernes

In [14]:
# save to csv
csv.to_csv(f'input/delitos_{year}.csv', index=False)